<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <script src="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.js"></script>
  <link href="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.css" rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>



  <style>
    .map
    {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index:1;
    }

    #doubleArrow
    {
      position: absolute;
      z-index:100;
      background:white;
      top:50%;
      right:0px;
      width:20px;
      border:1px solid black;
      cursor:pointer;
    }

    #filters
    {
      position:fixed;
      top: 0;
      left: 75%;
      bottom: 0;
      right: 0;
      z-index:0;
      padding:10px;
    }

    .marker
    {
      cursor:pointer;
      padding-bottom: 5px;
    }

    .popup-table th, .popup-table td
    {
      text-align: left;
    }
  </style>
  <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>
  <title>OpenLayers example</title>
</head>
<body>
<div id="map" class="map">
  <div id="doubleArrow">&gt;&gt;</div>
</div>
<div id="filters">
  <div class="container">
  <h1>Filter options</h1>

    <form method="post" action="#" onsubmit="return false;">
      <div class="row mb-3">
        <label for="counties" class="col-sm-2 col-form-label">Counties</label>
        <div class="col-sm-10">
          <select id="counties" name="counties" multiple>
            <option value="">Choose zero or more</option>
            <option>Carlow</option>
            <option>Cavan</option>
            <option>Clare</option>
            <option>Cork</option>
            <option>Donegal</option>
            <option>Dublin</option>
            <option>Galway</option>
            <option>Kerry</option>
            <option>Kildare</option>
            <option>Kilkenny</option>
            <option>Laois</option>
            <option>Leitrim</option>
            <option>Limerick</option>
            <option>Longford</option>
            <option>Louth</option>
            <option>Mayo</option>
            <option>Meath</option>
            <option>Monaghan</option>
            <option>Offaly</option>
            <option>Roscommon</option>
            <option>Sligo</option>
            <option>Tipperary</option>
            <option>Waterford</option>
            <option>Westmeath</option>
            <option>Wexford</option>
            <option>Wicklow</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label for="siteTypes" class="col-sm-2 col-form-label">Site Type(s)</label>
        <div class="col-sm-10">
          <select id="siteTypes" name="siteTypes" multiple>
            <option value="">Choose zero or more</option>
            <option>Anomalous stone group</option>
            <option>Boulder-burial</option>
            <option>Bullaun stone</option>
            <option>Cairn</option>
            <option>Cliff-edge fort</option>
            <option>Henge</option>
            <option>Hillfort</option>
            <option>Hilltop enclosure</option>
            <option>Megalithic structure</option>
            <option>Megalithic tomb</option>
            <option>Ogham stone</option>
            <option>Ringfort</option>
            <option>Rock art</option>
            <option>Standing stone</option>
            <option>Stone circle</option>
            <option>Stone row</option>
            <option>Stone sculpture - aniconic</option>
            <option>Stone sculpture - iconic</option>
          </select>
        </div>

        <div class="row">
          <button class="btn btn-primary" id="doFilter">Filter</button>
        </div>
      </div>
    </form>
  </div>

</div>
<script type="text/javascript" src="js/map.js"></script>
</body>
</html>