<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <script src="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.js"></script>
  <link href="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.css" rel="stylesheet" />
  <style>
    .map
    {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index:1;
    }

    #doubleArrow
    {
      position: fixed;
      z-index:100;
      background:white;
      top:50%;
      right:0;
      border:1px solid black;
      cursor:pointer;
    }

    #filters
    {
      position:fixed;
      top: 0;
      left: 75%;
      bottom: 0;
      right: 0;
      z-index:0;
      padding:10px;
    }

    .marker
    {
      cursor:pointer;
    }
  </style>
  <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>
  <title>OpenLayers example</title>
</head>
<body>
<div id="map" class="map">
  <div id="doubleArrow">&gt;&gt;</div>
</div>
<div id="filters">
  <h1>Filter options</h1>

</div>
<script type="text/javascript" src="js/map.js"></script>
</body>
</html>