<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <script src="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.js"></script>
  <link href="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.css" rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>



  <style>
    .map
    {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index:1;
    }

    #doubleArrow
    {
      position: absolute;
      z-index:100;
      background:white;
      top:50%;
      right:0px;
      width:20px;
      border:1px solid black;
      cursor:pointer;
    }

    #filters
    {
      position:fixed;
      top: 0;
      left: 75%;
      bottom: 0;
      right: 0;
      z-index:0;
      padding:10px;
    }

    .marker
    {
      cursor:pointer;
      padding-bottom: 5px;
    }

    .popup-table th, .popup-table td
    {
      text-align: left;
    }
  </style>
  <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>
  <title>Clocha Site list</title>
</head>
<body>
<div class="container">
  <div id="map" class="map">
    <div id="doubleArrow">&gt;&gt;</div>
  </div>
  <div id="filters">
    <div class="container">
    <h1>Filter options</h1>

      <form method="post" action="#" onsubmit="return false;">
        <div class="row mb-3">
          <label for="counties" class="col-sm-2 col-form-label">Counties</label>
          <div class="col-sm-10">
            <select id="counties" name="counties" multiple>
              <option value="">Choose zero or more</option>
              <option value="CARLOW">Carlow</option>
              <option value="CAVAN">Cavan</option>
              <option value="CLARE">Clare</option>
              <option value="CORK">Cork</option>
              <option value="DONEGAL">Donegal</option>
              <option value="DUBLIN">Dublin</option>
              <option value="GALWAY">Galway</option>
              <option value="KERRY">Kerry</option>
              <option value="KILDARE">Kildare</option>
              <option value="KILKENNY">Kilkenny</option>
              <option value="LAOIS">Laois</option>
              <option value="LEITRIM">Leitrim</option>
              <option value="LIMERICK">Limerick</option>
              <option value="LONGFORD">Longford</option>
              <option value="LOUTH">Louth</option>
              <option value="MAYO">Mayo</option>
              <option value="MEATH">Meath</option>
              <option value="MONAGHAN">Monaghan</option>
              <option value="OFFALY">Offaly</option>
              <option value="ROSCOMMON">Roscommon</option>
              <option value="SLIGO">Sligo</option>
              <option value="TIPPERARY">Tipperary</option>
              <option value="WATERFORD">Waterford</option>
              <option value="WESTMEATH">Westmeath</option>
              <option value="WEXFORD">Wexford</option>
              <option value="WICKLOW">Wicklow</option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <label for="siteTypes" class="col-sm-2 col-form-label">Site Type(s)</label>
          <div class="col-sm-10">
            <select id="siteTypes" name="siteTypes" multiple>
              <option value="">Choose zero or more</option>
              <option>Anomalous Stone Group</option>
              <option>Boulder-Burial</option>
              <option>Bullaun Stone</option>
              <option>Cairn</option>
              <option>Ceremonial Enclosure</option>
              <option>Cliff-edge Fort</option>
              <option>Henge</option>
              <option>Hillfort</option>
              <option>Hilltop Enclosure</option>
              <option>Megalithic Structure</option>
              <option>Megalithic Tomb</option>
              <option>Motte</option>
              <option>Ogham Stone</option>
              <option>Ringfort</option>
              <option>Rock Art</option>
              <option>Standing Stone</option>
              <option>Stone Circle</option>
              <option>Stone Row</option>
              <option>Stone Sculpture</option>
              <option>Stone Sculpture</option>
            </select>
          </div>

          <div class="row">
            <button class="btn btn-primary" id="doFilter">Filter</button>
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Loading, please be patient</h5>
        </div>
        <div class="modal-body">
          We're loading ~15MB of data, please be patient
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/map.js"></script>

</body>
</html>